<div class="quiz-section container">
  <header class="header mb-3 pb-5 pt-4">
    <div class="logo text-center">
      <a href="/">TechTrivia</a>
      <img src="../../../assets/images/brush-line-1.gif" alt>
    </div>
  </header>

  <div class="quiz-page-content">
    <h1>
      Begin an Exciting Adventure into the World of Web Development Expertise as
      You Dive Deep into the Details of Coding, Design, and Frameworks!
    </h1>
    <div class="form-wrapper mt-5 pt-5">
      <h2>
        Select the language, framework, or design you wish to test your
        expertise in:</h2>
      <form action="#" class="mt-5">
        <div class="mb-3 d-flex gap-3 align-items-center form-group">
          <input type="checkbox" id="html" routerLink="../quizes/html-quiz">
          <label for="html"><span>HTML</span></label>
        </div>
        <div class="mb-3 d-flex gap-3 align-items-center form-group">
          <input type="checkbox" id="CSS" routerLink="../quizes/css-quiz">
          <label for="CSS"><span>CSS</span></label>
        </div>
        <div class="mb-3 d-flex gap-3 align-items-center form-group">
          <input type="checkbox" id="Javascript"
            routerLink="../quizes/javascript-quiz">
          <label for="Javascript"><span>Javascript</span></label>
        </div>
        <div
          class="mb-3 d-inline-flex gap-3 align-items-center form-group checkbox-wrapper">
          <input type="checkbox" id="Angular"
            routerLink="../quizes/angular-quiz">
          <label for="Angular"><span>Angular</span></label>
        </div>
        <div class="mb-3 d-flex gap-3 align-items-center form-group">
          <input type="checkbox" id="React" routerLink="../quizes/react-quiz">
          <label for="React"><span>React js</span></label>
        </div>
        <div
          class="mb-3 d-inline-flex gap-3 align-items-center form-group checkbox-wrapper">
          <input type="checkbox" id="Figma" routerLink="../quizes/figma-quiz">
          <label for="Figma"><span>Figma</span></label>
        </div>
      </form>
    </div>
  </div>
</div>
